
@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row m-5 p-5">
    <h2>Admin Home</h2>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card m-2 p-2">
                    <div class="card-header bg-primary text-white">
                        Masters
                    </div>
                    <div class="card-body">
                        @Html.ActionLink("RSA Masters", "Index", "M_RSAMasters", null, null)
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card m-2 p-2">
                    <div class="card-header bg-dark  text-white">
                        News Category
                    </div>
                    <div class="card-body">
                        @Html.ActionLink("News Category Masters", "Index", "NewsCategoryMaster", null, null)
                    </div>
                </div>

            </div>
            <div class="col-4">
                <div class="card m-2 p-2">
                    <div class="card-header bg-info  text-white">
                        News Sub-Category
                    </div>
                    <div class="card-body">
                        @Html.ActionLink("News Sub-Category Masters", "Index", "NewsSubCategoryMasters", null, null)
                    </div>
                </div>

            </div>
            <div class="col-4">
                <div class="card m-2 p-2">
                    <div class="card-header  bg-secondary  text-white">
                        News
                    </div>
                    <div class="card-body">
                        @Html.ActionLink("News Masters", "Index", "News_Masters", null, null)
                    </div>
                </div>

            </div>
            <div class="col-4">
                <div class="card m-2 p-2">
                    <div class="card-header  bg-danger  text-white">
                        Banner Master
                    </div>
                    <div class="card-body">
                        @Html.ActionLink("Banner Masters", "Index", "BannerMaster", null, null)
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

